@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 770px){
    .btn{
        flex-direction: column;
    }
    .btn-car{
        font-size: 14px;
        padding: 0.5rem;
    }
    .box{
        flex-direction: column;
    }
}

